<link rel = "stylesheet" href = "../style/calendar.css">
<link rel="stylesheet" href= "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

<div class = "col col-sm-4 col-md-4 col-xl-4">
    <% if (!usuario.Photo) { %>
        <img src = "/images/noImageUser.png" alt = "Imagen predefinida" class = 'rounded-circle' width="250" height="250">
    <% } else { %>
        <img src = "/user/profilePhoto/<%=usuario.Id%>" alt = "Foto de perfil del usuario" width="250" height="250" class = 'rounded-circle'>
    <% } %>
    <div class = 'row mt-2'>
        <div class = "col col-sm-6 col-md-6 col-xl-6 h3">

            <div id = 'profileName' class = "row"> <%= usuario.Name %> </div>
            <div id = 'profileDirection' class = "row h5"> <%= usuario.Direction %> </div>

            <% if (accepted) { %>
                <div class = 'row h6' id = 'profileEmail'> <%= usuario.Email %></div>
                <div class = 'row h6' id = 'profilePhone'> <%= usuario.Phone %></div>
            <% } %>
            <div class="calendar-container">
                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation d-flex">

                        <div class="month-year d-flex align-items-center" >
                            <% let d = new Date(); %>
                            <% let day = d.getDate(); %>
                            <% let m = ["January", "February", "March", "April", "May", "June", "July", 
                            "August", "September", "October", "November", "December"]; %>
                            <% let month = m[d.getMonth()]; %>
                            <% let year = d.getFullYear(); %>
                            <% let newdate =  month + ", " + year; %>
                            <%= newdate %>
                        <button id="calendar-prev" a class="material-symbols-rounded" type="button" onclick='funcionalidadPrev("<%= day%>", "<%=d.getMonth()%>","<%=year%>","<%=newdate%>")'>
                            chevron_left
                        </button>
                        
                            
                            
                            
                        </div>
                        <button id="calendar-next" a class="material-symbols-rounded" type="button" onclick='funcionalidadNext("<%= day%>", "<%=d.getMonth()%>","<%=year%>")' >
                            chevron_right
                        </button>
                    </div>
                </header>
                  
                <div class="calendar-body">
                    <ul class="calendar-weekdays">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="calendar-days">
                        <% let daysInMonth = new Date(year, d.getMonth()+1, 0).getDate(); %>
                        <% let firstDay = new Date(year, d.getMonth(), 1).getDay(); %>
                        <% for (let i = 1; i <= daysInMonth; i++) { %>
                          <% if (i === 1) { %>
                            <% for (let j = 0; j < firstDay; j++) { %>
                              <li></li>
                            <% } %>
                          <% } %>
                          <li><%= i %></li>
                        <% } %>
                      </ul>
                    <!-- Add the following code to your JavaScript file -->
<script id="next-prev">
    function funcionalidadPrev(d,month,year,newdate) {
        console.log(newdate);
    if (month === 0) {
        month = 11;
        year -= 1;
    } else {
        month -= 1;
    }
    newdate = getFormattedDate(month, year);
    console.log(newdate);
    $(".month-year").text(newdate);
    updateCalendar(month, year);
    }

function funcionalidadNext(d,month,year,newdate) {
 
  if (month === 11) {
    month = 0;
    year += 1;
  } else {
    month += 1;
  }
  
   newdate = getFormattedDate(month, year);
  $(".month-year").text(newdate);
  updateCalendar(month, year);
}

function getFormattedDate(month, year) {
  let m = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  let newdate = m[month] + ", " + year;
  return newdate;
}

function updateCalendar(month, year) {
  let daysInMonth = new Date(year, month + 1, 0).getDate();
  let firstDay = new Date(year, month, 1).getDay();
  let $calendarDays = $(".calendar-days");
  $calendarDays.empty();
  
  for (let i = 1; i <= daysInMonth; i++) {
    if (i === 1) {
      for (let j = 0; j < firstDay; j++) {
        $calendarDays.append("<li></li>");
      }
    }
    $calendarDays.append("<li>" + i + "</li>");
  }
}
    
  </script>
                    
                </div>
            </div>
        </div>
    </div>
</div>