<!DOCTYPE html>
<html lang = "es">
<head>
    <title> Perfil </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href = "../style/profile.css">
    <link rel="stylesheet" href = "../style/specialties.css">
    <link rel="stylesheet" href = "../style/navbar.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body style="background-color: #BDD4F2;">

    <%- include('partials/header') %>

    <div class = "container-fluid">
        <div class = "row mt-5" id = 'profileUser'>
            
            <%- include('partials/profileDesc') %>
            
            <div class = "col col-sm col-md col-xl">
            
                <div class = "row">
                    <%- include('partials/navbars/navbarUser') %>
                </div>
            
                <div class = "mt-3 row p-3" id = "labelSpecialties">
                    
                    <div class = "col col-sm col-md col-xl">
                    
                        <div class = "bg-white row d-flex justify-content-center text-center rounded-2 p-1">
                            <h3>Razas de perros</h3>
                            <hr>
                        </div>
                    
                        <div class = "row ">
                            <% if (breeds.length !== 0) { %>
                                <% breeds.forEach((dogBreed) => { %>  
                                    <div class = "bg-light offset-1 col col-sm col-md col-xl d-flex justify-content-center text-center align-items-center mt-4 rounded-2 labelBreed">
                                        <h6 class =" p-3"> <%= dogBreed %> </h4>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <div class = "col col-sm -col-md col-xl p-3 rounded-2 bg-danger">
                                    <span class = 'text-white'>  <%= usuario.Name %> no tiene preferencia en ninguna raza de perro </span>
                                </div>
                            <% } %>
                        </div>
                    
                    </div>

                    <div class = "offset-1 col col-sm col-md col-xl">
                        
                        <div class = "bg-white row d-flex justify-content-center text-center rounded-2 p-2">
                            <h3>Tamaño de perro</h3>
                            <hr>
                        </div>
                        
                        <div class = "row">

                            <% if (dogSizes.length !== 0) { %>
                                <% dogSizes.forEach((dogSize) => { %>
                                    <div class = "row mt-2 d-flex justify-content-center">
                                        <div class = "col col-sm-6 col-md-6 col-xl-6 d-flex justify-content-center bg-light rounded-2 labelSizes">
                                            <div class="col col-sm-6 col-md-6 col-xl-6 mt-3">
                                                <%if (dogSize === "grande") { %>
                                                    <img src = "/images/bigDog.png" alt = "Imagen de perro grande">
                                                <% } else if (dogSize === "mediano") { %>
                                                    <img src = "/images/mediumDog.png" alt = "Imagen de perro mediano">
                                                <% } else { %>
                                                    <img src = "/images/smallDog.png" alt = "Imagen de perro pequenio">
                                                <% } %>
                                            </div>
                                            <div class = "col col-sm-6 col-md-6 col-xl-6 d-flex align-items-center">
                                                <%if (dogSize === "grande") { %>
                                                    Grande
                                                <% } else if (dogSize === "mediano"){ %>
                                                    Mediano
                                                <% } else { %>
                                                    Pequeño
                                                <% } %>
                                            </div>
                                        </div>
                                        
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <div class = "col col-sm col-md col-xl p-3 rounded-2 bg-danger">
                                    <span class = text-white> <%= usuario.Name %> no tiene preferencia en el tamaño de los perros </span>
                                </div>
                            <% } %>
                        </div>
                        
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>
</html>