<nav class = 'rounded-2 p-3' id = 'navUser'>
    
    <ul class = 'nav p-1'>

        <li class = 'nav-item p-2'>
            <a href = "/user/profile?id=<%=usuario.Id%>" class = 'ms-1 nav-link navButton navLinks'> Descripción </a>
        </li>
        
        <li class = 'nav-item p-2 justify-content-center'>
            <a href = "/user/specialties?id=<%=usuario.Id%>" class = 'nav-link navButton navLinks' id = 'specialtiesButton'> Especialidades </a>
        </li>
        
        <li class = 'nav-item p-2 justify-content-center'>
            <a href = "/user/picturesLocation?id=<%=usuario.Id%>" class = 'nav-link navButton navLinks' id = 'picturesBtn'> Lugar</a>
        </li>

        <li class = 'nav-item p-2 justify-content-center'>
            <a href = "/user/getValorations?id=<%=usuario.Id%>" class = 'nav-link navButton navLinks' id = 'valorationsBtn'> Valoraciones </a>
        </li>

        <% if (!locals.user.isDogWatcher) { %>
            <li class = 'nav-item p-2 justify-content-center'>
                <button type = 'button' class = 'btn btn-primary ms-3 mt-1' data-id = <%= usuario.Id %> data-bs-toggle = 'modal' data-bs-target = '#modalRequest' id = 'sendApplicationBtn'> Solicitar servicios </button>
            </li>

            <li class = 'nav-item p-2 justify-content-center'>
                <button type = 'button' class = 'btn btn-success ms-3 mt-1' data-id = <%= usuario.Id %> data-bs-toggle = 'modal' data-bs-target = '#modalValorate' id = 'valorateBtn'> Valorar </button>        
            </li>
        <% } %>

    </ul>

</nav>